$cohere_blue: #72ccca;
$cohere_red: #ff6865;
$cohere_black: #282828;
$cohere_orange: #ff9343;

$color-white: white;

$font-morganite: "Morganite", sans-serif;
$font-spacegrotesk: "Space Grotesk", sans-serif;
